<h1 class="h1about"> About Korean BBQ </h1>

<p class="aboutstarting"> Korean BBQ is every foodie's, weightlifter's and basically everyone's paradise food (sorrynotsorry vegans and vegetarians). It allows you to eat various types of meat even the ones that are exclusive to the Asian community. While the meat makes up most of the meal, you cannot forget Korea's most popular extra dishes, Banchan. Banchan is the traditional side dishes that are served along with Korean entrees. They include dishes ranging from pickled radish, kimchi, potato salad, egg, namul (steamed or stir-fried vegetables seasoned with sesame oil, salt, vinegar, and more), but enough about that, let's talk about the different types of meat you might encounter in a typical Korean BBQ restaurant </p>

<h2 class="h2about"> It's a Pleasure to Meat You </h1>

<h3 class="h3about"> Prime Rib </h3>

<div class="about-img"> <img src="/images/Prime_Rib.jpg" alt="prime rib"></div>
<p class=aboutp> The prime rib is a typical dish that is no different from your regular barbecue steaks. However, instead of seasoning it with the regular bbq sauce like A1 steak sauce, Koreans like to provide a slight saltiness to the meat through the addition of the simple yet savory salt and sesame oil mix.</p>

<h3 class="h3about"> Pork Belly</h3>

<div class="about-img"><img src="/images/pork_belly.jpg" alt="Pork Belly"></div>
<p class="aboutp"> Also known as the "Asian Bacon", it is the dish that is most likely the one meat people think of when they hear the word Korean BBQ. </p>

<h3 class="h3about"> Seasoned Chicken</h3>

<div class="about-img"><img src="/images/spicy_chicken.jpg" alt="Seasoned Chicken"></div>
<p class="aboutp"> Not the most popular meat, it is usually served marinated due to the lack of taste a plain chicke offers. Chicken for me, is one of the meals I don't really order a lot since you need to cook it perfectly or you'll be left with dry meat. This is one of the reasons why Chicken is usually marinated or seasoned to bring some flavor as well as help prevent the meat from drying up.  </p>

<h3 class="h3about"> Kalbi</h3>

<div class="about-img"><img src="/images/kalbi.jpg" alt="Kalbi"></div>
<p class="aboutp"> The Korean BBQ's staple dish, it is a recipe that differs from restaurant to restaurant in terms of flavor. Usually the marinate has the staple mix of soy sauce and garlic. It is served sweet and tender due to the amount of time the meat is marinated. </p>

<h3 class="h3about"> Bulgogi</h3>

<div class="about-img"><img src="/images/bulgogi.jpg" alt="Bulgogi"></div>
<p class="aboutp"> A classic dish and one that I usually recommend to someone who's  never had Korean BBQ before. It is a sweet dish that is made primarily using beef but can also be implemented using pork. </p>

<!-- <h3 class="h3about"> Flavors </h3>
<div class="about-img">< img src="" alt="Flavors"></div> -->
