<h1 class="h1about"> About Korean BBQ </h1>

<p class="aboutstarting"> Korean BBQ is every foodie's, weightlifter's and basically everyone's paradise food (sorrynotsorry vegans and vegetarians). It allows you to eat various types of meat even the ones that are exclusive to the Asian community. While the meat makes up most of the meal, you cannot forget Korea's most popular extra dishes, Banchan. Banchan is the traditional side dishes that are served along with Korean entrees. They include dishes ranging from pickled radish, kimchi, potato salad, egg, namul (steamed or stir-fried vegetables seasoned with sesame oil, salt, vinegar, and more), but enough about that, let's talk about the different types of meat you might encounter in a typical Korean BBQ restaurant </p>

<h2 class="h2about"> It's a Pleasure to Meat You </h1>

<h3 class="h3about"> Prime Rib </h3>

<div class="primerib"> <img src="/images/Prime_Rib.jpg" alt="prime rib"></div>
<p class=primeribp> The prime rib is a typical dish that is no different from your regular barbecue steaks. However, instead of seasoning it with the regular bbq sauce like A1 steak sauce, Koreans like to provide a slight saltiness to the meat through the addition of the simple yet savory salt and sesame oil mix.
