<form action="/users/{{user.id}}/restaurants/{{id}}?_method=PUT" method="post">
  <input type="text" name="name" value="Name"><br>
  <input type="text" name="phone" value="Phone Number"><br>
  <input type="text" name="address" value="Address"><br>
  <input type="text" name="city" value="City"><br>
  <input type="text" name="state" value="State"><br>
  <input type="text" name="zip" value="Zip Code"><br>
  <input type="text" name="mfhours" value="Monday - Friday Hours"><br>
  <input type="text" name="sathours" value="Saturday Hours"><br>
  <input type="text" name="sunhours" value="Sunday Hours"><br>
  <input type="text" name="most_popular" value="Popular Dish"><br>
  <input type="text" name="favorite_dish" value="My Favorite Dish"><br>
  <input type="submit" value="Submit Edited Restaurant Info"><br>
</form>
